JSON_RPC_URL=https://your-minievm-json-rpc
RPC_URL=https://your-initia-rpc
REST_URL=https://your-initia-rest
INDEXER_URL=https://your-initia-indexer
PRIVATE_KEY=0x
APPCHAIN_ID=dripfi-1
FEE_RECIPIENT=0x0000000000000000000000000000000000000000
EXPORT_ROOT_ENV=true
